@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&display=swap');

body, html
{
	margin: 0;
	padding: 0;
	font-family: 'Antic Slab', serif;
	display: flex;
	flex-direction: column;
}

.flickity-page-dots
{
	display: none;
}

.flickity-prev-next-button
{
	width: 100px !important;
	height: 100px !important;
	background: transparent !important;
	color: white !important;
	margin: 0 20px;
}

.gallery
{
	background: #EEE;
	height: 100vh;
}

.gradient
{
	margin: 0;
	width: calc(100vw - 2rem);
	height: calc(100vh - 2rem);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	width: 100%;
}

.gradient h1
{
	font-size: 6vw;
	color: white;
	letter-spacing: 4px;
	text-align: center;
	margin: 2rem;
}

@media only screen and (max-width: 800px)
{
	.gradient
	{
		align-items: flex-end;
	}
}

@media only screen and (max-width: 500px)
{
	.flickity-prev-next-button
	{
		width: 70px !important;
		height: 70px !important;
		margin: 0 5px !important;
	}
}
